ion-toolbar{    
    --background: #83BBD2;
}
.info-text{
    padding: 2rem;
}

img{
    width: 15%;
    padding: 0%;
}


ion-range {
    --color: #83BBD2;
    border-radius: 8px;
    --bar-height: 8px;
    --knob-size: 30px;
    
}
ion-button {
    color: white;
    position: relative;
    left:30%,

}

