<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title> timer/countdown</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h5>
      The ventilation system is working on improving the indoor climate based on
      your answers.
    </h5>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>00:10:00</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>Until you can give new answers</h5>
        </ion-col>
      </ion-row>
      <ion-row class="picture">
        <ion-col>
          <img src="/assets/Asset 48.svg" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

</ion-content>
