ion-content {
  --ion-background-color: white;
  --ion-text-color: black;
}
ion-toolbar {
  --background: #83bbd2;
}

img {
  position: fixed;
  bottom: 0px;
}

p {
  text-align: center;
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  margin-bottom: 30%;
}

h1 {
  font-size: 22px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

.countdown {
  font-size: 50px;
  margin-left: 25%;
}
