<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          icon="caret-back-outline"
          text=""
          defaultHref="zones"
          class="back"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>CountDown</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    The ventilation system is working on improving the indoor climate based on
    your answers.
  </p>

  <countdown [config]="{leftTime: 30}" class="countdown"></countdown>

  <h1>Until you can give new answers</h1>

  <img src="assets/Asset 21.svg" />
</ion-content>
