<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select the zone</ion-title>
  </ion-toolbar>
</ion-header>
<div class="div">
  <img src="/assets/cold.png" />
</div>
<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col size="5">
      <ion-item class="third"> Zone 1</ion-item>
      <ion-text>5 people</ion-text>
    </ion-col>
    
    <ion-col size="5">
      <ion-item class="four"> Zone 2</ion-item>
      <ion-text>5 people</ion-text>
    </ion-col>
  </ion-row>
    
    <ion-row>
      
      <ion-col size="5">
        <ion-item class="third"> Zone 3</ion-item>
        <ion-text>5 people</ion-text>
      </ion-col>
      <ion-col size="5">
        <ion-item class="four"> Zone 4
       </ion-item>
       <ion-text>5 people</ion-text>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  <ion-button routerLink="/preference">next page</ion-button>

  <ion-button>Take the quiz again</ion-button>
</ion-content>


   
