ion-content {
  --ion-background-color: white;
  --ion-text-color: black;
}
ion-toolbar {
  --background: #9ACAD8;
  color: #000;
}


ion-card{
  background-color: #9ACAD8;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
}

ion-card-title{
  font-weight: lighter;
  font-size: 22px;
  margin-top: 10%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
}

ion-button {
  width: 48%;
  height: 60px;;
  border-radius: 8px;
  --background: #9DB0B7;
  color: black;
}

.buttons{
  margin-left: 10%;
  margin-right: 10%;
}
ion-button:hover {
  --background: #9ACAD8;
  --background-activated: #9ACAD8;
}
