<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
    <ion-card-title>Want to take a quiz and learn how to better use the system?</ion-card-title>
    <img src="assets/Asset 50.svg" alt="feeling cold" />
  </ion-card>
  <div class="buttons">
    <ion-button routerLink="/tutorial">Yes</ion-button>
    <ion-button routerLink="/rooms">No</ion-button>
  </div>
</ion-content>
