<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <div id="tutorialAcceptImgcontainer">
    <h5>Wanna take a quiz and learn how to better use the system?</h5>
    <img src="assets/cold.png" alt="feeling cold" />
  </div>
    <ion-button routerLink="/tutorial">Yes</ion-button>
    <ion-button routerLink="/rooms">No</ion-button>
  </div>
</ion-content>
