<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title> results</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tutorialAcceptImgcontainer">
    <p>Wanna take a quiz and learn how to better use the system?</p>
    <img src="assets/cold.png" alt="feeling cold" />
  </div>
  <ion-item id="tutorialAcceptButtons">
    <ion-button href="/tutorial">Yes</ion-button>
    <ion-button href="/tutorial">No</ion-button>
  </ion-item>
</ion-content>
