ion-content {
  --ion-background-color: white;
  --ion-text-decoration: none;
  --ion-text-color: black;
}
ion-toolbar {
  --background: #83bbd2;
}
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  --ion-text-color: black;
}
ion-item {
  --background: #d9ecf2;
  border-radius: 8px;
  --ion-text-color: black;
}
ion-icon {
  color: black;
  padding: 1%;
}
ion-button {
  --background: #9acad8;
  border-radius: 8px;
  color: black;
}
