<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
  <div class="container">
    <div>
      <ion-text> <h5>Login using your school account!!</h5> </ion-text>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <ion-input placeholder="xxxx@edu.easj.dk" type="text"  required name="first"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input placeholder="Password" type="password" required name="first"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button routerLink="/rooms">Login</ion-button>
        </ion-col>
      </ion-row>
      <div class="info-text">
        <ion-text>
          <p>
            Forgot your password? Send a SMS with the following “kodeord” to +45
            50 76 27 10.
          </p>
        </ion-text>
      </div>
    </ion-grid>
  </div>
</ion-content>
