<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Select the room</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-searchbar placeholder="Search" clearIcon>
</ion-searchbar>
<ion-list>
    <ion-item class="item1">
      <ion-label>Room 1</ion-label>
      <ion-text>10 people</ion-text>
    </ion-item>
      <ion-item>
        <ion-label>Room 2</ion-label>
        <ion-text>5 people</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Room 3</ion-label>
        <ion-text>3 people</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Room 4</ion-label>
        <ion-text>0 people</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Room 5</ion-label>
        <ion-text>5 people</ion-text>
      </ion-item>
</ion-list>
<ion-button routerLink="/zones">click for zones</ion-button>
<ion-button>Take the quiz again</ion-button>
</ion-content>
  