ion-content {
  --ion-background-color: white;
  --ion-text-color: black;
}
ion-toolbar {
  position: absolute;
  --background: #83bbd2;
  color: #000;
}
.container {
  padding: 1rem;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  --ion-text-color: black;

  ion-searchbar {
    padding: 0rem;
    box-sizing: border-box;
    border-radius: 8px;
    border-style: inset;
    border-color: #d9ecf2;
    color: black;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
ion-list {
  background-color: white;
  list-style-type: none;

}
ion-item {
  --background: #d9ecf2;
  border-radius: 8px;
}

ion-button {
  --background: #9acad8;
  border-radius: 8px;
  margin-bottom: 2rem;
  color: #000;
}
// for hover style
// ion-list:hover {
//   ion-item:hover {
//     --background:  #1da7dd ;
//     box-shadow: inset 0px 0px 0px 1px red;
//   }
// }
ion-item:hover {
  --background: #80cbc4;
}
ion-button:hover {
  --background: #80cbc4;
}
ion-searchbar:hover {
  --background: #80cbc4;
}

// for popover style 