<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h1>Select the room you are in</h1> 
  <div class="container">
  <ion-item *ngFor ="let u of user" >
   <p>{{u.name}}</p>
  </ion-item>
    <!-- <h5>HI{{userName}}</h5>
<ion-button (click)="logout()"> logout</ion-button> -->
    <div class="searchbar">
      <ion-searchbar placeholder="Search" clearIcon> </ion-searchbar>
    </div>

    <ion-list line="none" *ngFor="let r of room;">
      <ion-item routerLink="/zones">
        <ion-label>{{ r.roomName }} </ion-label>
        <ion-text>5 people</ion-text>
      </ion-item>
    </ion-list>

    <ion-button routerLink="/tutorial">Take the quiz again</ion-button>
  </div>
</ion-content>
