<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div routerLink="/login">
  <div class="container">
    <div class="vent2u-logo">
      <img src="../../../assets/vent2u-logo.png" />
    </div>
    <div class="fan-logo">
      <img src="../../../assets/fan-logo.png" alt="" />
    </div>
    <div class="info-text">
      <h5>
        you can learn how to keep the indoor climate healty and select the room
        climate according to your preference.
      </h5>
    </div>
  </div>
  </div>
</ion-content>
