h1{
    text-align: center;
}
ion-button{
    --background:#9ACAD8;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: 6rem;
    color: #000000;
    align-items: flex-end;
    }
p{
    text-indent: 50px;
}
p {
    color: rgba(0, 2, 7, 0.884);
    font-family: courier;
    font-size: 100%;
    font-weight: bold;
  }