ion-toolbar {
  --background: #83bbd3;
}

ion-content{
  --ion-background-color:white;
  --ion-text-color:black;
}
.right{
  float: right;
  margin-right: 10%;
}

.left{
  float: left;
  margin-left: 10%;
}

h1{
  font-size: 30px;
  text-align: center;
}

h2{
  font-size: 24px;
  text-align: center;
  margin-top: -2%;
  margin-bottom: 10%;
}

h5{
  font-size: 16px;
  text-align: center;
}

h4{
  font-size: 20px;
}

h3{
  clear: right;
  clear: left;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10%;
}

.done{
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  --background: #9ACAD8;
  color: black;
  margin-bottom: 10%;
}

.box{
  background-color: #9ACAD8;
  width: auto;
  
}
