
  ion-toolbar {
    --background: #83bbd3;
  }
  .container {
   
    position: absolute;
    text-align: left;
    left: 10%;
    right: 10%;
    top: 10%;
    --ion-text-color: black;
    font-size: 20px;
  }
  .done-button {
    text-align: center;
    color: black;
    --background: #9acad8;
    border-radius: 8px;
    width: 100%;
    font-size: 20px;
    margin-top: 30%;
  }
  .grid {
  margin-top: 10%;

  }
  ion-progress-bar {
    height: 15px;
    width: 100%;
    --background-color: #9db0b7;
    border-radius: 8px;
    --progress-background: #ae8274;
  }
  
  h5{
    font-size: 24px;
  }