div {
  background: #80cbc4;
  padding: 0.3rem;
  border-radius: 4px;
  p {
    align-items: center;
    text-align: center;
  }
}
ion-button {
  width: 5rem;
  margin-left: 1.5rem;
  padding: auto;
  color: black;
  --background: #9acad8;
  border-radius: 8px;
}
